{% extends 'layout.html.twig' %}

{% block content %}
    <div class="span9">
    {% for post in posts %}
        <article>
            <h2><a href="{{ path('post', {'slug': post.slug}) }}">{{ post.title }}</a></h2>
	        <a class="thumbnail" href="{{ path('post', {'slug': post.slug}) }}">
	        	<img class="main" src="{{ app.request.basepath }}/assets/img/archive-thumbnail-placeholder-small.gif" />
	        </a>
            <p>{{ post.body|raw }}</p>
        </article>
    {% endfor %}
    </div>
{% endblock %}
