{% extends 'layout.html.twig' %}

{% block sidebarleft %}
    <div class="span3">&nbsp;</div>
{% endblock %}

{% block content %}
<div class="span9">
    <h2>Login</h2>

    {% if flashes %}
        {% for key, flash in flashes %}
            <div class="alert alert-{{ key }}">
            {% for the_flash in flash %}
            {{ the_flash }}<br />
            {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    {% if error %}
    <div class="alert alert-error">{{ error }}</div>
    {% endif %}

    <form id="login" method="POST" action="{{ app.url_generator.generate('admin_login') }}">
    {{ form_widget(form) }}
    <input type="submit" value="Login" class="btn btn-success" />
    </form>
</div>
{% endblock %}
